{% extends 'melhoramigo/index.html' %}

{% block main %}

<div class="sobre">
    <div class="telafundo"></div>
    <body>
        <header>
            <h1> <img class="icone" src="https://i.postimg.cc/c4kxk036/cidade.png"> Salvador</h1><h1 style="color: red;">Melhor Amigo!</h1>
            <p><b>O melhor para seu pet!</b></p>
        </header>

        <main>
            <section id="sobre">
                <img src="https://i.postimg.cc/yNQykJ3s/foto-salvador.png" alt="Foto Aleatória">
                <p>O <b>Melhor Amigo</b> é o pet shop perfeito para os donos de animais em Fortaleza. Oferecemos uma ampla gama de produtos e serviços de qualidade, 
                incluindo rações, acessórios e cuidados especializados. Nossa equipe apaixonada está pronta para atender seu pet com todo o carinho e profissionalismo.</p>
                <img src="https://i.postimg.cc/tTstPXFP/loja-salvador.png" alt="Imagem da Loja">
                <p>Venha nos visitar e conheça nosso espaço! Estamos localizados em:</p>
                <p><b>Endereço: </b>Alameda Salvador, 1057, Edf. Salvador Shopping Business, Torre Europa, Sala 310, Salvador - BA (Dentro da Infinity School)</p>
            </section>
        </main>
    </body>    
</div>
{% endblock %}
