{% extends 'melhoramigo/index.html' %}

{% block main %}

    <!-- CONTEUDO PRINCIPAL DO SITE -->

    <div class="sobre">

        <!-- TELA DE FUNDO DA PÁGINA -->

        <div class="telafundo"></div>

        <!-- TÍTULO DA PÁGINA -->

        <body>
            <header>
                <h1>Serviços de Banho e Tosa</h1>
                <p><b>O melhor cuidado para o seu pet!</b></p>
            </header>

            <!-- CONTEÚDO -->
        
            <main>
                <section id="banhoetosa">
                    <h2>Serviços de Banho e Tosa</h2>
                    <p>No Petshop <b>Melhor Amigo</b>, oferecemos serviços de banho e tosa completos, projetados para manter seu pet limpo, saudável e feliz. 
                       Nossa equipe de profissionais altamente treinados utiliza apenas produtos de alta qualidade, garantindo um cuidado delicado e seguro para o seu amigo de quatro patas.</p>
                       <img src="https://i.postimg.cc/nr10Hn7D/servicos.jpg" alt="Serviços">
                    <p>Nossos serviços incluem:</p>
                    <ul>
                        <li><b>Banho Especial:</b> Utilizamos xampus e condicionadores específicos para cada tipo de pelo, garantindo um brilho e maciez excepcionais.</li>
                        <li><b>Tosa Higiênica:</b> Corte das unhas, limpeza dos ouvidos e higiene íntima para manter seu pet confortável e saudável.</li>
                        <li><b>Tosa Completa:</b> Serviço completo de tosa, com corte personalizado conforme a raça e estilo desejado.</li>
                        <li><b>Escovação:</b> Escovação completa para remover pelos soltos e evitar nós e embaraços.</li>
                    </ul>
                    <p>Além disso, oferecemos um ambiente acolhedor e seguro, onde seu pet se sentirá confortável durante todo o processo.</p>
                </section>

                <section id="clinicas">
                    <h2>Clínicas Veterinárias Parceiras</h2>
                    <p>O Petshop <b>Melhor Amigo</b> tem o prazer de colaborar com clínicas veterinárias renomadas, garantindo cuidados médicos de qualidade para o seu pet. Confira algumas das clínicas veterinárias com as quais trabalhamos:</p>
                    
                    <img src="https://i.postimg.cc/Vs979WTk/clinica-veterinaria.png" alt="Clínicas Veterinárias">
                    
                        <p><b>Clínica Veterinária Infinity School</b><br>
                        Rua dos Animais, 456<br>
                        Bairro Pet, Cidade dos Pets<br>
                        Telefone: (31) 2345-6789</p>
                        
                        <p><b>Clínica Veterinária de Salvador</b><br>
                        Avenida dos Amores, 789<br>
                        Bairro Saúde, Salvador BA<br>
                        Telefone: (71) 9876-5432</p>
                </section>
            </main>
        </body>    
    </div>
{% endblock %}
