<div class="rodape">
    {% block footer %}
    <div class="rodape" >
        <h2>© 2024 Pet Shop Melhor Amigo. Todos os direitos reservados.</h1>    
        <!-- CONTEUDO DAS CONTATO MELHOR AMIGO! MENU PRINCIPAL -->

    <div class="contato">
        <!-- LISTA DE TELEFONES -->
        <ul>
    
            <p><img src="https://i.postimg.cc/x8tf2SFx/telefone.png" alt="telefone">Telefones:</p>
                <li><img src="https://i.postimg.cc/zXGDkVV9/whatsapp.png" alt="whatsapp">Belo Horizonte:<a href="#"> (31) 99501-9314</a></li>
                <li><img src="https://i.postimg.cc/zXGDkVV9/whatsapp.png" alt="whatsapp">Fortaleza:<a href="#"> (85) 99974-9797</a></li>
                <li><img src="https://i.postimg.cc/zXGDkVV9/whatsapp.png" alt="whatsapp">Salvador:<a href="#"> (71) 99204-0134</a></li>
    
        </ul>
    
        <!-- LISTA DE EMAILS -->
    
        <ul>
            <p><img src="https://i.postimg.cc/L5H9wsvg/outros.png" alt="outros">Outros:</p> 
            <li><img src="https://i.postimg.cc/ZKwnk6Gb/email.png" alt="email"><a href="#">rodrigo_rrrr@hotmail.com</a></li>
            <li><img src="https://i.postimg.cc/7Zb6qf4g/instagram.png" alt="instagram"><a href="https://www.instagram.com/infinity.school/">Instagram</a></li>
            <li><img src="https://i.postimg.cc/5N4ykskK/linkedin.png" alt="linkedin"><a href="https://www.linkedin.com/in/rodrigo-peres-621149b4/">Linkedin</a></li>
        </ul>
    
        <!-- CAMPO ENVIAR MENSAGEM -->
        <ul>
            <p><img src="https://i.postimg.cc/sXPfTWPR/publico.png" alt="Contato">Fale Conosco!</p>
            <a href="/contato"><img src="https://i.postimg.cc/XJ67KLC8/mensagem.png" alt="Contato">Enviar Mensagem.</a>
        </ul>
    
    </div>   
</div>
    {% endblock %}
