{% extends 'melhoramigo/index.html' %}

{% block main %}
<div class="produtos">
    <header>
        <h1><img class="icone" src="https://i.postimg.cc/bvkqvnB2/gato.png" alt="gato"> Produtos para Gatos</h1>
    </header>
    <main>
        <section>
            <h2>Rações</h2>
            <p>Oferecemos uma ampla gama de rações para gatos de todas as idades, tamanhos e necessidades nutricionais. Nossas marcas incluem:</p>
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slide">
                        <img src="https://i.postimg.cc/ncCT7GYg/royal-canin-gato.png" alt="Ração Royal Canin"/>
                        <p>Royal Canin</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/gj0sgV9w/whiskas-gato.png" alt="Ração Whiskas">
                        <p>Whiskas</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/2SW-w9jtx/purina-gato.png" alt="Ração Purina">
                        <p>Purina</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/tTkDdrcQ/premier-gato.png" alt="Ração Premier Pet">
                        <p>Premier Pet</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/vmRPGxnj/gran-plus-gato.png" alt="Ração Gran Plus">
                        <p>Gran Plus</p>
                    </div>
                </div>
                <button class="slider-button prev">&lt;</button>
                <button class="slider-button next">&gt;</button>
            </div>
        </section>

        <section>
            <h2>Shampoos e Higiene</h2>
            <p>Para manter seu gato sempre limpo e cheiroso, oferecemos uma linha completa de shampoos e produtos de higiene. Marcas populares incluem:</p>
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slide">
                        <img src="https://i.postimg.cc/SN3dGYgs/sanol-gato.png" alt="Shampoo Sanol Cat">
                        <p>Sanol Cat</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/Tw6HJ5Ym/pet-society.png" alt="Shampoo Pet Society">
                        <p>Pet Society</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/90NpKDVL/procao-gato.png" alt="Shampoo Procão">
                        <p>Procão</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/fW5gYL4t/soft-care.png" alt="Shampoo Soft Care">
                        <p>Soft Care</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/jjNFf4Kt/ourofino.png" alt="Shampoo Ourofino">
                        <p>Ourofino</p>
                    </div>
                </div>
                <button class="slider-button prev">&lt;</button>
                <button class="slider-button next">&gt;</button>
            </div>
        </section>

        <section>
            <h2>Brinquedos e Acessórios</h2>
            <p>Temos uma grande variedade de brinquedos e acessórios para garantir a diversão e o conforto do seu gato. Confira algumas opções:</p>
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slide">
                        <img src="https://i.postimg.cc/zfnxvDSf/penas.png" alt="Brinquedo de penas">
                        <p>Brinquedos de penas</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/fTLqCNZH/arranhador.png" alt="Arranhador">
                        <p>Arranhadores</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/4xHLCQYV/cama-gato.png" alt="Cama para gato">
                        <p>Camas e almofadas</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/28KcXKSC/caixa-areia.png" alt="Caixa de areia">
                        <p>Caixas de areia</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/9MCJ73JY/roupa.png" alt="Roupa para gato">
                        <p>Roupas e acessórios</p>
                    </div>
                </div>
                <button class="slider-button prev">&lt;</button>
                <button class="slider-button next">&gt;</button>
            </div>
        </section>
    </main>
</div>
{% endblock %}

