{% extends 'melhoramigo/index.html' %}

{% block main %}
<div class="produtos">
    <header>
        <h1><img class="icone" src="https://i.postimg.cc/rwd8v3Gj/cachorro.png" alt="cachorro"> Produtos para Cães</h1>
    </header>
    <main>
        <section>
            <h2>Rações</h2>
            <p>Oferecemos uma ampla gama de rações para cães de todas as idades, tamanhos e necessidades nutricionais. Nossas marcas incluem:</p>
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slide">
                        <img src="https://i.postimg.cc/wjnr3bCw/royal-canin-cachorro.png" alt="Ração Royal Canin">
                        <p>Royal Canin</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/jddm1f64/pedigree-cachorro.png" alt="Ração Pedigree">
                        <p>Pedigree</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/3xk68Hcy/purina-cachorro.png" alt="Ração Purina">
                        <p>Purina</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/ncRgfL0b/premier-cachorro.png" alt="Ração Premier Pet">
                        <p>Premier Pet</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/YSmJ3wNc/gran-plus.png" alt="Ração Gran Plus">
                        <p>Gran Plus</p>
                    </div>
                </div>
                <button class="slider-button prev">&lt;</button>
                <button class="slider-button next">&gt;</button>
            </div>
        </section>

        <section>
            <h2>Shampoos e Higiene</h2>
            <p>Para manter seu cão sempre limpo e cheiroso, oferecemos uma linha completa de shampoos e produtos de higiene. Marcas populares incluem:</p>
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slide">
                        <img src="https://i.postimg.cc/cCD9WD7M/sanol.png" alt="Shampoo Sanol Dog">
                        <p>Sanol Dog</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/Tw6HJ5Ym/pet-society.png" alt="Shampoo Pet Society">
                        <p>Pet Society</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/DZPpjf8N/procao-cachorro.png" alt="Shampoo Procão">
                        <p>Procão</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/fW5gYL4t/soft-care.png" alt="Shampoo Soft Care">
                        <p>Soft Care</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/jjNFf4Kt/ourofino.png" alt="Shampoo Ourofino">
                        <p>Ourofino</p>
                    </div>
                </div>
                <button class="slider-button prev">&lt;</button>
                <button class="slider-button next">&gt;</button>
            </div>
        </section>

        <section>
            <h2>Brinquedos e Acessórios</h2>
            <p>Temos uma grande variedade de brinquedos e acessórios para garantir a diversão e o conforto do seu cão. Confira algumas opções:</p>
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slide">
                        <img src="https://i.postimg.cc/3R2QKHWj/borracha.png" alt="Brinquedo de borracha">
                        <p>Brinquedos de borracha</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/k43LYhw2/frisbee.png" alt="Bola">
                        <p>Bolas e frisbees</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/sf9Cqyks/cama-cachorro.png" alt="Cama para cachorro">
                        <p>Camas e almofadas</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/QCSPtND7/coleira.png" alt="Coleira">
                        <p>Guias e coleiras</p>
                    </div>
                    <div class="slide">
                        <img src="https://i.postimg.cc/gjGQmXCd/roupa-cachorro.png" alt="Roupa para cachorro">
                        <p>Roupas e acessórios</p>
                    </div>
                </div>
                <button class="slider-button prev">&lt;</button>
                <button class="slider-button next">&gt;</button>
            </div>
        </section>
    </main>
</div>
{% endblock %}
